<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zju.gislab.QDServices.mapper.SouthoceanChlaMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.zju.gislab.QDServices.po.SouthoceanChla" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="layerid" property="layerid" jdbcType="INTEGER" />
    <result column="no" property="no" jdbcType="INTEGER" />
    <result column="voy" property="voy" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="station" property="station" jdbcType="VARCHAR" />
    <result column="lon" property="lon" jdbcType="NUMERIC" />
    <result column="lat" property="lat" jdbcType="NUMERIC" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="chla" property="chla" jdbcType="NUMERIC" />
    <result column="sampway" property="sampway" jdbcType="VARCHAR" />
    <result column="testinst" property="testinst" jdbcType="VARCHAR" />
    <result column="anlyway" property="anlyway" jdbcType="VARCHAR" />
    <result column="medium" property="medium" jdbcType="VARCHAR" />
    <result column="extway" property="extway" jdbcType="VARCHAR" />
    <result column="recorder" property="recorder" jdbcType="VARCHAR" />
    <result column="collector" property="collector" jdbcType="VARCHAR" />
    <result column="entryper" property="entryper" jdbcType="VARCHAR" />
    <result column="reader" property="reader" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, layerid, no, voy, area, station, lon, lat, mtime, level, chla, sampway, testinst, 
    anlyway, medium, extway, recorder, collector, entryper, reader
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.zju.gislab.QDServices.po.SouthoceanChlaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from southocean_chla
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from southocean_chla
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from southocean_chla
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.zju.gislab.QDServices.po.SouthoceanChlaExample" >
    delete from southocean_chla
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.zju.gislab.QDServices.po.SouthoceanChla" >
    insert into southocean_chla (id, layerid, no, 
      voy, area, station, 
      lon, lat, mtime, 
      level, chla, sampway, 
      testinst, anlyway, medium, 
      extway, recorder, collector, 
      entryper, reader)
    values (#{id,jdbcType=INTEGER}, #{layerid,jdbcType=INTEGER}, #{no,jdbcType=INTEGER}, 
      #{voy,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{station,jdbcType=VARCHAR}, 
      #{lon,jdbcType=NUMERIC}, #{lat,jdbcType=NUMERIC}, #{mtime,jdbcType=TIMESTAMP}, 
      #{level,jdbcType=VARCHAR}, #{chla,jdbcType=NUMERIC}, #{sampway,jdbcType=VARCHAR}, 
      #{testinst,jdbcType=VARCHAR}, #{anlyway,jdbcType=VARCHAR}, #{medium,jdbcType=VARCHAR}, 
      #{extway,jdbcType=VARCHAR}, #{recorder,jdbcType=VARCHAR}, #{collector,jdbcType=VARCHAR}, 
      #{entryper,jdbcType=VARCHAR}, #{reader,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zju.gislab.QDServices.po.SouthoceanChla" >
    insert into southocean_chla
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="layerid != null" >
        layerid,
      </if>
      <if test="no != null" >
        no,
      </if>
      <if test="voy != null" >
        voy,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="station != null" >
        station,
      </if>
      <if test="lon != null" >
        lon,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="mtime != null" >
        mtime,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="chla != null" >
        chla,
      </if>
      <if test="sampway != null" >
        sampway,
      </if>
      <if test="testinst != null" >
        testinst,
      </if>
      <if test="anlyway != null" >
        anlyway,
      </if>
      <if test="medium != null" >
        medium,
      </if>
      <if test="extway != null" >
        extway,
      </if>
      <if test="recorder != null" >
        recorder,
      </if>
      <if test="collector != null" >
        collector,
      </if>
      <if test="entryper != null" >
        entryper,
      </if>
      <if test="reader != null" >
        reader,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="layerid != null" >
        #{layerid,jdbcType=INTEGER},
      </if>
      <if test="no != null" >
        #{no,jdbcType=INTEGER},
      </if>
      <if test="voy != null" >
        #{voy,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="station != null" >
        #{station,jdbcType=VARCHAR},
      </if>
      <if test="lon != null" >
        #{lon,jdbcType=NUMERIC},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=NUMERIC},
      </if>
      <if test="mtime != null" >
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="chla != null" >
        #{chla,jdbcType=NUMERIC},
      </if>
      <if test="sampway != null" >
        #{sampway,jdbcType=VARCHAR},
      </if>
      <if test="testinst != null" >
        #{testinst,jdbcType=VARCHAR},
      </if>
      <if test="anlyway != null" >
        #{anlyway,jdbcType=VARCHAR},
      </if>
      <if test="medium != null" >
        #{medium,jdbcType=VARCHAR},
      </if>
      <if test="extway != null" >
        #{extway,jdbcType=VARCHAR},
      </if>
      <if test="recorder != null" >
        #{recorder,jdbcType=VARCHAR},
      </if>
      <if test="collector != null" >
        #{collector,jdbcType=VARCHAR},
      </if>
      <if test="entryper != null" >
        #{entryper,jdbcType=VARCHAR},
      </if>
      <if test="reader != null" >
        #{reader,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.zju.gislab.QDServices.po.SouthoceanChlaExample" resultType="java.lang.Integer" >
    select count(*) from southocean_chla
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update southocean_chla
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.layerid != null" >
        layerid = #{record.layerid,jdbcType=INTEGER},
      </if>
      <if test="record.no != null" >
        no = #{record.no,jdbcType=INTEGER},
      </if>
      <if test="record.voy != null" >
        voy = #{record.voy,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.station != null" >
        station = #{record.station,jdbcType=VARCHAR},
      </if>
      <if test="record.lon != null" >
        lon = #{record.lon,jdbcType=NUMERIC},
      </if>
      <if test="record.lat != null" >
        lat = #{record.lat,jdbcType=NUMERIC},
      </if>
      <if test="record.mtime != null" >
        mtime = #{record.mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.chla != null" >
        chla = #{record.chla,jdbcType=NUMERIC},
      </if>
      <if test="record.sampway != null" >
        sampway = #{record.sampway,jdbcType=VARCHAR},
      </if>
      <if test="record.testinst != null" >
        testinst = #{record.testinst,jdbcType=VARCHAR},
      </if>
      <if test="record.anlyway != null" >
        anlyway = #{record.anlyway,jdbcType=VARCHAR},
      </if>
      <if test="record.medium != null" >
        medium = #{record.medium,jdbcType=VARCHAR},
      </if>
      <if test="record.extway != null" >
        extway = #{record.extway,jdbcType=VARCHAR},
      </if>
      <if test="record.recorder != null" >
        recorder = #{record.recorder,jdbcType=VARCHAR},
      </if>
      <if test="record.collector != null" >
        collector = #{record.collector,jdbcType=VARCHAR},
      </if>
      <if test="record.entryper != null" >
        entryper = #{record.entryper,jdbcType=VARCHAR},
      </if>
      <if test="record.reader != null" >
        reader = #{record.reader,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update southocean_chla
    set id = #{record.id,jdbcType=INTEGER},
      layerid = #{record.layerid,jdbcType=INTEGER},
      no = #{record.no,jdbcType=INTEGER},
      voy = #{record.voy,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      station = #{record.station,jdbcType=VARCHAR},
      lon = #{record.lon,jdbcType=NUMERIC},
      lat = #{record.lat,jdbcType=NUMERIC},
      mtime = #{record.mtime,jdbcType=TIMESTAMP},
      level = #{record.level,jdbcType=VARCHAR},
      chla = #{record.chla,jdbcType=NUMERIC},
      sampway = #{record.sampway,jdbcType=VARCHAR},
      testinst = #{record.testinst,jdbcType=VARCHAR},
      anlyway = #{record.anlyway,jdbcType=VARCHAR},
      medium = #{record.medium,jdbcType=VARCHAR},
      extway = #{record.extway,jdbcType=VARCHAR},
      recorder = #{record.recorder,jdbcType=VARCHAR},
      collector = #{record.collector,jdbcType=VARCHAR},
      entryper = #{record.entryper,jdbcType=VARCHAR},
      reader = #{record.reader,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zju.gislab.QDServices.po.SouthoceanChla" >
    update southocean_chla
    <set >
      <if test="layerid != null" >
        layerid = #{layerid,jdbcType=INTEGER},
      </if>
      <if test="no != null" >
        no = #{no,jdbcType=INTEGER},
      </if>
      <if test="voy != null" >
        voy = #{voy,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="station != null" >
        station = #{station,jdbcType=VARCHAR},
      </if>
      <if test="lon != null" >
        lon = #{lon,jdbcType=NUMERIC},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=NUMERIC},
      </if>
      <if test="mtime != null" >
        mtime = #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="chla != null" >
        chla = #{chla,jdbcType=NUMERIC},
      </if>
      <if test="sampway != null" >
        sampway = #{sampway,jdbcType=VARCHAR},
      </if>
      <if test="testinst != null" >
        testinst = #{testinst,jdbcType=VARCHAR},
      </if>
      <if test="anlyway != null" >
        anlyway = #{anlyway,jdbcType=VARCHAR},
      </if>
      <if test="medium != null" >
        medium = #{medium,jdbcType=VARCHAR},
      </if>
      <if test="extway != null" >
        extway = #{extway,jdbcType=VARCHAR},
      </if>
      <if test="recorder != null" >
        recorder = #{recorder,jdbcType=VARCHAR},
      </if>
      <if test="collector != null" >
        collector = #{collector,jdbcType=VARCHAR},
      </if>
      <if test="entryper != null" >
        entryper = #{entryper,jdbcType=VARCHAR},
      </if>
      <if test="reader != null" >
        reader = #{reader,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zju.gislab.QDServices.po.SouthoceanChla" >
    update southocean_chla
    set layerid = #{layerid,jdbcType=INTEGER},
      no = #{no,jdbcType=INTEGER},
      voy = #{voy,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      station = #{station,jdbcType=VARCHAR},
      lon = #{lon,jdbcType=NUMERIC},
      lat = #{lat,jdbcType=NUMERIC},
      mtime = #{mtime,jdbcType=TIMESTAMP},
      level = #{level,jdbcType=VARCHAR},
      chla = #{chla,jdbcType=NUMERIC},
      sampway = #{sampway,jdbcType=VARCHAR},
      testinst = #{testinst,jdbcType=VARCHAR},
      anlyway = #{anlyway,jdbcType=VARCHAR},
      medium = #{medium,jdbcType=VARCHAR},
      extway = #{extway,jdbcType=VARCHAR},
      recorder = #{recorder,jdbcType=VARCHAR},
      collector = #{collector,jdbcType=VARCHAR},
      entryper = #{entryper,jdbcType=VARCHAR},
      reader = #{reader,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>